# ignore all logs
*.log

# ignore rhistory
*.Rhistory

# ignoring rsconnect
/musicPopularity/rsconnect
/musicPopularity/rsconnect/*

# ignoring ipynb checkpoints
/.ipynb_checkpoints
/.ipynb_checkpoints/*
